

:root[data-theme="light"]{
    --primary-color: #e2dffb;
    --secondary-color: #AEA9DF;
    --tertiary-color: #4c6b91;
    --bg-color: #ebeae5;
    --light-color: #ebf2fa;
    --dark-color: #171718;
    --navbar-color: #6c757d;
    --text-default-color: #0F0F10;
  }
  
  /*a3bdd3
  d4e7f7*/
  
  :root[data-theme="dark"]{
      --primary-color: #211F2F;
      --secondary-color: #393554;
      --tertiary-color: #326628;
      --bg-color: #141413;
      --light-color: #ebf2fa;
      --dark-color: #171718;
      --navbar-color: #49446C;    
      --text-default-color: #EAE8F8;
  }
    
  
  body{
      background-color: var(--primary-color) !important;
  }
  
  .content{
      background-color: var(--secondary-color) !important;
  }
  
  p{
      background-color: var(--text-color) !important;
  }
  
  .nav{
      background-color: var(--navbar-color) !important;
  
  }
  
  .dropdown-menu{
      background-color: var(--primary-color) !important;
      color: var(--text-default-color) !important;
  }
  
  
  .logo{
      background: url(../Bilder/webbproject2.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: auto;
      height: 50px;
      image-rendering: 100%;
  }
  
  
  
  
  
  
  
  a{
      color: var(--text-default-color) !important;
  }
  
  .navbar-toggler-icon{
      background: url(../Bilder/menu-icon.svg);
      background-size: contain;
      background-repeat: no-repeat;
  }
  
  body{
      background-color: var(--bg-color);
      color: var(--text-default-color);
     /* background: url(../Bilder/Vind/Vind2.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-size: cover;
      aspect-ratio: 16 / 9;
      aspect-ratio: auto || <ratio>;*/
  }
  
  
  
  
  .content{
      box-shadow: 0 0 .5rem #7a7a7a7a;
      background-color: #e9eff3;
      background-color: var(--bg-color);
  }
  
  /*h1{
      background: url(../Bilder/Vind/Vind2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      aspect-ratio: 16 / 9;
      height: auto;
      width: 100%;
  
  }*/
  
  /*.first{
      background-image: url(../Bilder/Vind/Vind5Kväll.jpg);
      height: fit-content;
      background-size: cover ;
      object-fit: cover;
      aspect-ratio: 16/9;
  }
  
  .olika{
      background-image: url(../Bilder/);
  }*/
  
  .bild-2{
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
  }
  
  .hero{
      color:var(--text-default-color);
      background-color: var(--navbar-color);
  }
  
  
.light{

}

 /* .button-box{
      width: 15rem;
      height: 15rem;
      background: #e91e63;
      border-radius: 0.375rem; 
  
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(-50%, -50%);
  
      overflow: hidden;
  }
  
  .sun{
      width: 6.25rem;
      height: 6.25rem;
      background: #b4acac;
      border-radius: 50%;
      cursor: pointer;
  
      position: absolute;
      
  
      border: 0.131rem solid #e91e63;
  }
  
  .sun div{
      height: 0.188rem;
      background-color: #b4acac;
  
  
      position: absolute;

      bottom: 50%;
      left: 50%;
      z-index: -1;
  
      transition: width 0.5s;
  }
  
  .sun .line1{
      width: 10rem;
      transform:  translate(-50%, -50%);
  
  }
  
  .sun .line2{
      width: 10rem;
      transform:  translate(-50%, -50%) rotate(90deg);
  
  }
  
  .sun .line3{
      width: 8.75rem;
      transform:  translate(-50%, -50%) rotate(45deg);
  
  }
  
  .sun .line4{
      width: 8.75rem;
      transform:  translate(-50%, -50%) rotate(-45deg);
  
  }
  
  .sun::after{
      content: "";
      width: 6.25rem;
      height: 6.25rem;
      background: #e91e63;
      border-radius: 50%;
      position: absolute;
      top: -6.25rem;
      right: -6.25rem;
      transition: 0.5s;
  }
  
  .sun.night::after{
      top: -1.563rem;
      right: -1.563rem;
  }
  
  .sun.night div{
      width: 0;
  }