

:root[data-theme="light"]{
    --primary-color: #e2dffb;
    --secondary-color: #AEA9DF;
    --tertiary-color: #4c6b91;
    --bg-color: #ebeae5;
    --light-color: #ebf2fa;
    --dark-color: #171718;
    --navbar-color: #575f6b;
    --text-default-color: #0F0F10;
    --shadow-color: #565366;
    --mode-color: #d4df46;
    --link-color: #d4e7f7;
  }
  
/*transform translate på nav för att centrera y led


Navbar potentiell färg = #bEb8ec 

  a3bdd3
  acacac
  989c9e
  a0a7b3
  88A3D3
  d4e7f7*/
  
:root[data-theme="dark"]{
    --primary-color: #211F2F;
    --secondary-color: #393554;
    --tertiary-color: #326628;
    --bg-color: #141413;
    --light-color: #ebf2fa;
    --dark-color: #171718;
    --navbar-color: #49446c;    
    --text-default-color: #EAE8F8;
    --shadow-color: #0f0e13;
    --mode-color: #c3ca62;
    --link-color: #dedfe0;
}
    
  
body{
    background-color: var(--primary-color) !important;
}
  
.content{
    background-color: var(--secondary-color) !important;
    color: var(--text-default-color);
    box-shadow: 0 0 .5rem var(--shadow-color);
}

p{
    background-color: var(--text-color) !important;
}



/*navbar start*/  
.navbg{
    background-color: var(--navbar-color) !important;
}  

.nav-link{
    color: var(--link-color);
}

.nav-link:hover{
    color: var(--link-color);
  text-decoration: underline var(--link-color);
}

.dropdown-menu {
    background-color: var(--secondary-color) !important;
}

.dropdown-item{
    color: var(--text-default-color);
}
/*navbar start*/
  

/*loggor start*/
.logo{
    width: auto;
    height: 3.825rem;
    image-rendering: 100%;
    align-items: center;
}
  
.TC{
    height: 15.5rem;
}
  
/*loggor slut*/

.cardimg{
    height: 100%;
    width: 50%;
}



/*footer start*/

footer{
    background-color: var( --navbar-color);
    color: var(--text-color);
    justify-content: center;
}

.link{
    color: var( --text-color) !important;
}


footer{
    -webkit-box-shadow: 0px -1px 8px 4px rgba(0, 0, 0, 0.062);
    -moz-box-shadow: 0px -1px 8px 4px rgba(0, 0, 0, 0.062);
    box-shadow: 0px -1px 8px 4px rgba(0, 0, 0, 0.062);
    background-color: var(--navbar-color);
}
footer > .row{
    width: 80%;
}
footer > .row > div{
    padding: 0.938rem;
}
@media screen and (max-width: 1200px){
    footer > .row{
        width: 100%;
    }
}

footer ul{
    list-style-type: none;
}
@media screen and (max-width: 768px){
    footer p{
        width: 80%;
    }
}
footer p{
    list-style-type: none;
}
footer h2{
    color: var(--text-default-color);
    font-size: 1.5rem;
    margin: 0;
}
footer a, footer div{
    color: var(--text-default-color);
    font-weight: 600;
}
footer a:hover{
    fill: var(--secondary-color);
    color: var(--secondary-color);
    text-decoration: none;
}

.social-links{
    align-items: center !important;
    width: 50%;
    position: relative;
}
.social-links > div{
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    top: 0;
    right: 0;
    transform: translate(150%, -20%);
}
.social-links svg{
    fill: var(--text-default-color);
    stroke: none;
}
.social-links:hover svg{
    fill: var(--secondary-color);
}

.tcstenungsund{
    display: flex;
    align-items: start;
    justify-content: center;
}
@media screen and (max-width: 992px){
    footer > .row .tcstenungsund{
        justify-content: start;
    }
}
.tcstenungsund img{
    width: 12.5rem;
    height: 12.5rem;
    aspect-ratio: 1 / 1;
}




/*footer slut*/

  
.navbar-toggler-icon{
    background: url(../Bilder/menu-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
  
body{
    background-color: var(--bg-color);
    color: var(--text-default-color);
}

.bild-2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  

  

/*Mode button start*/
.light{
    position: fixed;
    left: 0.5rem;
    bottom: 0.5rem;
}


.button-box{
    width: 5rem;
    height: 5rem;
    background: var(--dark-color);
    border-radius: 100%; 
  
    position: fixed;
    left: 3rem;
    bottom: -2rem;
    transform: translate(-50%, -50%);
  
    overflow: hidden;
    box-shadow: 0 0 .5rem var(--shadow-color);
}



.sun{
    width: 2.08rem;
    height: 2.08rem;
    background: var(--mode-color);
    border-radius: 50%;
    cursor: pointer;
  
    position: absolute;
      
  
    border: 0.044rem solid var(--dark-color);
}
  
.sun div{
    height: 0.063rem;
    background-color: var(--mode-color);
  
  
    position: absolute;

    bottom: 50%;
    left: 50%;
    z-index: -1;
  
    transition: width 0.2s;
}
  
.sun .line1{
    width: 3.33rem;
    transform:  translate(-50%, -50%);
  
}
  
.sun .line2{
    width: 3.3rem;
    transform:  translate(-50%, -50%) rotate(90deg);
}
  
.sun .line3{
    width: 2.72rem;
    transform:  translate(-50%, -50%) rotate(45deg);  
}
  
.sun .line4{
    width: 2.72rem;
    transform:  translate(-50%, -50%) rotate(-45deg);
}
  
.sun::after{
    content: "";
    width: 2.083rem;
    height: 2.083rem;
    background: var(--dark-color);
    border-radius: 50%;
    position: absolute;
    top: -2.083rem;
    right: -2.083rem;
    transition: 0.2s;
}
  
.sun.night::after{
    top: -0.521rem;
    right: -0.521rem;
}
  
.sun.night div{
    width: 0;
}