

:root[data-theme="light"]{
    --primary-color: #e2dffb;
    --secondary-color: #AEA9DF;
    --tertiary-color: #4c6b91;
    --bg-color: #ebeae5;
    --light-color: #ebf2fa;
    --dark-color: #171718;
    --navbar-color: #49446c;
    --text-default-color: #0F0F10;
    --shadow-color: #565366;
    --mode-color: #d4df46;
    --link-color: #d4e7f7;
}
  
:root[data-theme="dark"]{
    --primary-color: #211F2F;
    --secondary-color: #393554;
    --tertiary-color: #326628;
    --bg-color: #141413;
    --light-color: #ebf2fa;
    --dark-color: #171718;
    --navbar-color: #49446c;    
    --text-default-color: #EAE8F8;
    --shadow-color: #0f0e13;
    --mode-color: #d4df46;
    --link-color: #dedfe0;
}

/*body/content start*/
body{
    background-color: var(--primary-color);
    transition: 0.2s all;
}


  
.content{
    background-color: var(--secondary-color);
    color: var(--text-default-color);
    box-shadow: 0 0 .5rem var(--shadow-color);
    transition: 0.2s all;

}

p{
    background-color: var(--text-color);
}

h3{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2 h5{
    font-weight: bold;
}

p, a{
    padding-bottom: 0.2rem;
}

.col{
    margin: 1rem;
}

.del-2{
    display: grid;
    justify-content: center;
}


.rows{
    margin-top: 1rem;
}

.navbar-toggler-icon{
    background: url(../Bilder/menu-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.bild-2{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*body/content slut*/

/*navbar start*/  
.navbg{
    background-color: var(--navbar-color);
}  

.nav-link{
    color: #EAE8F8;
}

.nav-link:hover{
    color: #EAE8F8;
    text-decoration: underline #EAE8F8;
}

.dropdown-menu {
    background-color: var(--secondary-color);
}

.dropdown-item{
    color: var(--text-default-color);
}


.logo{
    width: auto;
    height: 3.825rem;
    image-rendering: 100%;
    align-items: center;
}
/*navbar slut*/

/*cards start*/
a:hover{
    color: var(--text-default-color);
}

.card-link{
    transition: 0.3s all;
    
}

.card-link:hover{
    transform: scale(1.05);
}

.card{
    max-width: 15rem;
    color: var(--text-default-color);
    background-color: var(--secondary-color);
    box-shadow: 0 0 .2rem var(--shadow-color);
    border: none;
    outline: none;
    max-height: 16.684rem;
}

.card-img{
    max-height: 8.438rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-link{
    display: flex;
    justify-content: center;
}

.card.body{
    word-wrap: break-word;
}
/*cards slut*/

/*footer start*/
.fot-list{
    padding-left: 0rem;
}



footer{
    -webkit-box-shadow: 0px -1px 8px 4px rgba(0, 0, 0, 0.062);
    -moz-box-shadow: 0px -1px 8px 4px rgba(0, 0, 0, 0.062);
    box-shadow: 0px -1px 8px 4px rgba(0, 0, 0, 0.062);
    background-color: var(--navbar-color);
}

footer > .row{
    width: 80%;
}

footer > .row > div{
    padding: 0.938rem;
}

@media screen and (max-width: 1200px){
    footer > .row{
        width: 100%;
    }
}

footer ul{
    list-style-type: none;
}

@media screen and (max-width: 768px){
    footer p{
        width: 80%;
    }
}

footer p{
     list-style-type: none;
}

footer h2{
    color: var(--text-default-color);
    font-size: 1.5rem;
    margin: 0;
    transition: 0.2s all;
}

footer a, footer div{
    color: var(--text-default-color);
    font-weight: 600;
    transition: 0.2s all;
}

footer a:hover{
    fill: var(--bg-color);
    color: var(--bg-color);
    text-decoration: none;
}

.social-links{
    align-items: center;
    width: 50%;
    position: relative;
}

.social-links > div{
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    top: 0;
    right: 0;
    transform: translate(150%, -20%);
}

.social-links svg{
    fill: var(--text-default-color);
    stroke: none;
    transition: 0.2s all;
}

.social-links:hover svg{
    fill: var(--bg-color);
}

.tcstenungsund{
    display: flex;
    align-items: start;
    justify-content: center;
}

@media screen and (max-width: 992px){
    footer > .row .tcstenungsund{
        justify-content: start;
    }
}

.tcstenungsund img{
    width: 100%;
    height: 8.4rem;
    aspect-ratio: 1 / 1;
}

/*footer slut*/

/*Mode button start*/
.light{
    position: fixed;
    left: 0.5rem;
    bottom: 0.5rem;
}

.button-box{
    width: 5.5vw;
    height: 5.5vw;
    background: var(--dark-color);
    border-radius: 100%; 
    position: fixed;
    left: 3.5vw;
    bottom: -2vw;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0 0 .5rem var(--shadow-color);
    cursor: pointer;
}

.sun{
    width: 3vw;
    height: 3vw;
    background: var(--mode-color);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    border: 0.044rem solid var(--dark-color);
}
  
.sun div{
    height: .1vh;
    background-color: var(--mode-color);
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: -1;
    transition: width 0.2s;
}
  
.sun .line1{
    width: 4.5vw;
    transform:  translate(-50%, -50%);
  
}
  
.sun .line2{
    width: 4.5vw;
    transform:  translate(-50%, -50%) rotate(90deg);
}
  
.sun .line3{
    width: 4.1vw;
    transform:  translate(-50%, -50%) rotate(45deg);  
}
  
.sun .line4{
    width: 4.1vw;
    transform:  translate(-50%, -50%) rotate(-45deg);
}
  
.sun::after{
    content: "";
    width: 2.9vw;
    height: 2.9vw;
    background: var(--dark-color);
    border-radius: 50%;
    position: absolute;
    top: -2.9vw;
    right: -2.9vw;
    transition: 0.2s;
}
  
.sun.night::after{
    top: -.7vw;
    right: -.7vw;
}
  
.sun.night div{
    width: 0;
}
