

:root[data-theme="light"]{
    --primary-color: #e2dffb;
    --secondary-color: #AEA9DF;
    --tertiary-color: #4c6b91;
    --bg-color: #ebeae5;
    --light-color: #ebf2fa;
    --dark-color: #171718;
    --navbar-color: #575f6b;
    --text-default-color: #0F0F10;
    --shadow-color: #4c4a61;
    --mode-color: #d4df46;
    --link-color: #d4e7f7;
  }
  
/*transform translate på nav för att centrera y led


  a3bdd3
  acacac
  989c9e
  a0a7b3
  88A3D3
  d4e7f7*/
  
:root[data-theme="dark"]{
    --primary-color: #211F2F;
    --secondary-color: #393554;
    --tertiary-color: #326628;
    --bg-color: #141413;
    --light-color: #ebf2fa;
    --dark-color: #171718;
    --navbar-color: #49446c;    
    --text-default-color: #EAE8F8;
    --shadow-color: #b8b1eb;
    --mode-color: #c3ca62;
    --link-color: #EAE8F8;

}
    
  
body{
    background-color: var(--primary-color) !important;
}
  
.content{
    background-color: var(--secondary-color) !important;
    color: var(--text-default-color);
    box-shadow: 0 0 .5rem var(--shadow-color);

}

p{
    background-color: var(--text-color) !important;
}



/*navbar start*/  
.nav{
    background-color: var(--navbar-color) !important;
}  

.nav-link{
    color: var(--link-color);
}


.dropdown-menu {
    background-color: var(--secondary-color) !important;
    color: var(--link-color) !important;
}
/*navbar start*/
  

/*loggor start*/
.logo{
    width: auto;
    height: 3.825rem;
    image-rendering: 100%;
    align-items: center;
}
  
.TC{
    height: 15.5rem;
}
  
/*loggor slut*/
  
  
/*footer start*/

footer{
    background-color: var( --navbar-color);
    color: var(--text-color);
}

.link{
    color: var( --link-color) !important;
}

/*footer slut*/

  
.navbar-toggler-icon{
    background: url(../Bilder/menu-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
  
body{
    background-color: var(--bg-color);
    color: var(--text-default-color);
   /* background: url(../Bilder/Vind/Vind2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    aspect-ratio: 16 / 9;
    aspect-ratio: auto || <ratio>;*/
}
  
  
  
  

  
  /*h1{
      background: url(../Bilder/Vind/Vind2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      aspect-ratio: 16 / 9;
      height: auto;
      width: 100%;
  
  }*/
  
  /*.first{
      background-image: url(../Bilder/Vind/Vind5Kväll.jpg);
      height: fit-content;
      background-size: cover ;
      object-fit: cover;
      aspect-ratio: 16/9;
  }
  
  .olika{
      background-image: url(../Bilder/);
  }*/
  
.bild-2{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
  
.hero{
    color:var(--text-default-color);
    background-color: var(--navbar-color);
}
  
  
.light{
    position: fixed;
    left: 0.5rem;
    bottom: 0.5rem;
}

.button-box{
    width: 5rem;
    height: 5rem;
    background: var(--dark-color);
    border-radius: 100%; 
  
    position: fixed;
    left: 3rem;
    bottom: -2rem;
    transform: translate(-50%, -50%);
  
    overflow: hidden;
    box-shadow: 0 0 .5rem var(--shadow-color);
}
  
.sun{
    width: 2.08rem;
    height: 2.08rem;
    background: var(--mode-color);
    border-radius: 50%;
    cursor: pointer;
  
    position: absolute;
      
  
    border: 0.044rem solid var(--dark-color);
}
  
.sun div{
    height: 0.063rem;
    background-color: var(--mode-color);
  
  
    position: absolute;

    bottom: 50%;
    left: 50%;
    z-index: -1;
  
    transition: width 0.2s;
}
  
.sun .line1{
    width: 3.33rem;
    transform:  translate(-50%, -50%);
  
}
  
.sun .line2{
    width: 3.3rem;
    transform:  translate(-50%, -50%) rotate(90deg);
}
  
.sun .line3{
    width: 2.72rem;
    transform:  translate(-50%, -50%) rotate(45deg);  
}
  
.sun .line4{
    width: 2.72rem;
    transform:  translate(-50%, -50%) rotate(-45deg);
}
  
.sun::after{
    content: "";
    width: 2.083rem;
    height: 2.083rem;
    background: var(--dark-color);
    border-radius: 50%;
    position: absolute;
    top: -2.083rem;
    right: -2.083rem;
    transition: 0.2s;
}
  
.sun.night::after{
    top: -0.521rem;
    right: -0.521rem;
}
  
.sun.night div{
    width: 0;
}