@font-face {
  font-family: "Lato";
  src: local("Lato"), url("Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Archivo";
  src: local("Archivo"), url("ArchivoBlack-Regular.ttf");
}
@keyframes text-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

html {
  overflow-x: hidden;
}
h1 {
  color: #f5f5f5;
  animation: text-animation 55s infinite alternate;
  font-size: clamp(3rem, 12vw, 8rem);
  margin-top: 15dvh;
  font-family: Archivo, sans-serif;
}
.section-first {
  background-image: url(../Bilder/natur.webp);
  background-size: cover;
  height: 100dvh;
  margin: 0;
}

.gradient-text {
  background-image: linear-gradient(45deg, #0d9d3d 16.666%, #0d9d3d 16.666%, #16a506 33.333%, #19c406 33.333%, #0eba0e 50%, #058510 50%, #299214 66.666%, #0d7d2d 66.666%, #037f43 83.333%, #15e9a6 83.333%);
  background-size: 300%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #058510; 
}